# KataCR
.vscode
KataCR/__pycache__
KataCR/*old*
KataCR/test*
KataCR/_DEBUG
KataCR/logs
KataCR/wandb
KataCR/runs
KataCR/yolov8n.pt
KataCR/.VSCodeCounter
venv
screenshot
gpt
KataCR/Clash-Royale-Detection-Dataset
KataCR/logs
runs
my_dataset
