.vscode
KataCR/__pycache__
KataCR/*old*
KataCR/test*
KataCR/_DEBUG
KataCR/logs
KataCR/wandb
KataCR/runs
KataCR/yolov8n.pt
KataCR/.VSCodeCounter
venv
runs
my_dataset
screenshot
*.cache
__pycache__
classificator_v1/cards_dataset
classificator_v2/cards_dataset
classificator_v2/dataset
create_bars_dataset/output_dataset
create_bars_dataset/images
classificator_v2/custom_resnet_model.pth
